/* .walrus-showing {
  display: none;
}
p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
} */
body{
  background-color: green;
}
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
